h1 {
    font-size: 70px;
    line-height: 1.5;
    font-weight: bold;
    color: #0072ae;
}

.alt-headline {
    font-size: 40px;
}

#main-site-title {
    color: deeppink;
}

.column-title {
    font-style: normal; 
    color: #0072ae; 
    font-weight: bold; 
}
.wrapper {
    margin: 0 auto;
    width: 960px;
}

/* 3 columns*/
.column {
    float: left;
    width: 300px;
    margin-left: 30px;
}
.column:first-child {
    margin-left: 0px;
}

.secondary-section {
    margin-top:100px;
    margin-bottom: 40px;
}
.clear {
    clear: both;
}
/* clearfix */
.grouping:before,
.grouping:after {
content: " ";
display: table;
}
.grouping:after {
clear: both;
}


/*Buttons*/
.button {
    /* border: grosor, tipo de borde, color del borde */
    border: 2px solid #333;
    /* color del texto dentro del boton */
    color: #333;
    padding: 10px 0;
    /* block indica que ocupa toda una linea */
    display: block;
    /* Alineacion del texto */
    text-align: center;
    /* The font-weight CSS property specifies the weight or 
    boldness of the font. Some fonts are only available in normal and bold */
    font-weight: bold;
    /* The letter-spacing CSS property specifies spacing behavior 
    between text characters */
    letter-spacing: 1.5px;
    /* CSS3 transition property to smooth out the state change from no hover to
     hover.
     transition: transition-property, transition-duration, transition-timing-function
     all: This can be set to a certain property you want to transition or to all the properties. So, if you
     want to, you could set this to just color:
     transition: .25s color linear;
    If we wanted to, what we could add a comma separate list of properties to transition. In this
    case, I'm transitioning both color and background-color. One reason this is nice is if you
    need to transition more than one property, but not every property.
    transition: .25s color linear, .25s background-color linear;
    In our case, the timing function is set to linear. We can also use ease, ease-in, ease-
    out, and ease-in-out:

     */
    transition: .25s all linear;
    /* 
    Vendor prefixes
    As mentioned earlier, transitions are a CSS3 property. All modern (major) browsers support
    them: Chrome, Firefox, Safari, Internet Explorer, and Edge. Older browsers, such as IE9 and
    below, don't support them. They still get the hover state, but it will be abrupt without any
    transition. This isn't a problem as transitions typically aren't a core feature of your website,
    but more of an added experience level. Still, they are CSS3, and we can get a little more
    mileage out of them by including the vendor prefixed versions. Traditionally, the -webkit-
    prefix was used for Safari and Chrome; -moz- was used for Firefox and -o- for Opera.
    However, Firefox and Opera also now use -webkit-, so technically you don't need -moz-
    and -o- as much as you used to need them; however, for older versions of these browsers,
    you can still include them:
    -webkit-transition: .25s all ease-in-out;
    -moz-transition: .25s all ease-in-out;
    -o-transition: .25s all ease-in-out;
    transition: .25s all ease-in-out;

    */
    -webkit-transition: .25s all linear;
    transform: scale(.9,.9);
}
.button-narrow {
    width: 25%;
}

.button-alt {
    color:  #fff;
    background-color:  #0072ae;
    border-color:  #0072ae;
}

.button:focus,
.button:hover {
    background-color: #333;
    color: #fff;
    /* Transforms allow you to do
        several things, including rotate, scale, and translate 
        The
    translate function can move the element to the left, right, top, or bottom*/
    transform: scale(1.1,1.1) translate(0, -5px);
}

/* Go Premium */
.intro-content {
    width: 600px;
    margin-top: 150px;
    margin-right: 60px;
    float: left;
  }
  .go-premium {
    width: 300px;
    float: left;
    margin-top: 150px;
  }
  .call-to-action {
    border: 2px solid #fff;
    color: #fff;
    background-color: #0072ae;
    padding: 25px 0;
    display: block;
    text-align: center;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    -webkit-transition:.25s all ease-in-out;
    transition: .25s all ease-in-out;

}
.call-to-action:hover,
.call-to-action:focus {
border-color: #0072ae;
color: #0072ae;
background: none;
}

/* Nav */
nav {
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;


}
nav img {
    width: 160px;
}
nav figure {
    position: absolute;
    top: -30px;
    left: 50px;
}
.primary-nav {
    list-style: none;
    float: right;
}
.primary-nav > li {
    float: left;
}

.primary-nav > li > a {
    float: left;
    width: 150px;
    padding: 25px 0;
    border-left: 1px solid #ada791;
}
.primary-nav > li:first-child > a {
    border-left: none;
}

nav li a {
    font-family: Arial, Helvetica, sans-serif;
    color: #766e65;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    -webkit-transition: 0.15s background-color linear;
    transition: 0.15s background-color linear;


}

nav li a:focus,
nav li a:hover,
nav li a:active {
    background-color: #eb2428;
    color:#fff
}

/****************
Drop Down Menu
****************/
.has-submenu ul {
    list-style: none;
    padding-inline-start: 0px;
    position: absolute;
    top: 80px;
    background-color: #fff;
    border-bottom: 1px solid #ada791;
    border-left: 1px solid #ada791;
    border-right: 1px solid #ada791;
    width: 150px;
    overflow: hidden;
    display:  none;
}
.has-submenu a {
    display: block;
    padding: 25px 0;
}

.has-submenu:hover ul {
    display: block;
}


    